.red,
.yellow,
.green {
    width: 385px;
    min-height: 30vh;
    text-align: center;
    border-radius: 7px;
}

.red {
    border: 2px solid #c90202;
    color: #c90202;
}
.yellow {
    border: 2px solid #ffbb00;
    color: #ffbb00;
}
.green {
    border: 2px solid #11f509;
    color: #11f509;
}
