.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #86b4f8;
    padding: 10px 20px;
    border-radius: 7px;
    border: 2px solid #0532d0;
    margin-bottom: 20px;
}

.header__register {
    width: 50px;
}

.header__register_link {
    display: block;
    border-radius: 50%;
}

.header__register_link img {
    display: block;
    width: 100%;
    border-radius: 50%;
    border: 2px solid;
}
