.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid;
    background-color: #fff;
    text-align: left;
    padding: 5px 5px;
}

.task__content {
    width: 83%;
    height: 100%;
    overflow: auto;
    text-align: justify;
}

.task__content h3 {
    text-align: center;
}

.task__buttons {
    display: flex;
    flex-direction: column;
}

button:first-child {
    margin-bottom: 5px;
}
