.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #c90202;
    background-color: #fff;
    text-align: left;
    padding: 0 5px;
}

.task__content {
    max-width: 83%;
    overflow: auto;
    text-align: justify;
}

.task__content h3 {
    text-align: center;
}

.task__buttons {
    display: flex;
    flex-direction: column;
}

.task__buttons button {
    margin: 5px 0;
}
